<!--
	************************************************************
	* PAGE HEADER 02
	************************************************************ -->
	<header class="pos-rel pd-tb-large flex-cc min-vh-h60" data-ckav-sm="pd-tb-medium">
		<div class="container typo-light pos-rel z2 pd-b-1">

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="content" data-ckav-sm="mr-0">
						<h1 class="title xlarge f-1" data-ckav-sm="medium">Catalogue</h1>
						<p class="title-sub small" data-ckav-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit quisquam ipsum nostrum beatae est vero</p>
					</div>
				</div>

				<div class="col-md-6 align-r">
					<div class="fs14 pd-tb-5 pd-lr-tiny inline-block">
						<a routerLink="/" class="txt-white">Accueil</a>
						<b class="mr-lr-5"> / </b>
						<a routerLink="/catalogue" class="txt-white">Catalogue</a>	
					</div>
				</div>				
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-pageheader-01.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->

	<!--
	************************************************************
	* PORTFOLIO GRID 02
	************************************************************ -->
	<div class="container pd-tb-large" data-ckav-sm="pd-tb-small">
	
		<!--=================================
		= PORTFOLIO GALLERY
		==================================-->
		<div class="masonry-wrp w100">

			<div class="filter-wrp mr-b-mini align-c">
				<!-- FILTER -->
				<ul class="inline-grid filters" data-ckav-sm="reset-grid">
					<li><a class="btn btn-dark mini rd-0 mr-4 bdr-op-1 active" data-filter="*">All</a></li>
					<li><a class="btn btn-dark mini rd-0 mr-4 bdr-op-1" data-filter=".web">Web</a></li>
					<li><a class="btn btn-dark mini rd-0 mr-4 bdr-op-1" data-filter=".advert">Advertising</a></li>
					<li><a class="btn btn-dark mini rd-0 mr-4 bdr-op-1" data-filter=".brand">Branding</a></li>
					<li><a class="btn btn-dark mini rd-0 mr-4 bdr-op-1" data-filter=".design">Design</a></li>
					<li><a class="btn btn-dark mini rd-0 mr-4 bdr-op-1" data-filter=".photography">Photography</a></li>
					<li><a class="btn btn-dark mini rd-0 mr-4 bdr-op-1" data-filter=".icons">Icons</a></li>
				</ul>
			</div>
			

			<div class="masonry-grid rw eq3 gt14 mb14" data-masonry-grid>
				
				
				<div class="masonry-item cl design brand" data-animate-in="fadeInUp|0.1">
					
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-01.jpg"></b>
								<img src="assets/images/portfolio-img-01.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Design</span>
							<span class="mr-r-4 fs11 txt-upper">Branding</span>
							
							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Book cover design</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>

				</div>

				
				<div class="masonry-item cl advert brand" data-animate-in="fadeInUp|0.2">

					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-02.jpg"></b>
								<img src="assets/images/portfolio-img-02.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Advertising</span>
							<span class="mr-r-4 fs11 txt-upper">Branding</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Magazine design</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>

				</div>

				
				<div class="masonry-item cl icons design" data-animate-in="fadeInUp|0.3">

					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-03.jpg"></b>
								<img src="assets/images/portfolio-img-03.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Icon</span>
							<span class="mr-r-4 fs11 txt-upper">Design</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Branding cup</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>
				</div>

				
				<div class="masonry-item cl design brand icons" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-04.jpg"></b>
								<img src="assets/images/portfolio-img-04.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Branding</span>
							<span class="mr-r-4 fs11 txt-upper">Design</span>
							<span class="mr-r-4 fs11 txt-upper">Icons</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Book cover</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>

				</div>

				
				<div class="masonry-item cl photography web" data-animate-in="fadeInUp|0.5">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-05.jpg"></b>
								<img src="assets/images/portfolio-img-05.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Photography</span>
							<span class="mr-r-4 fs11 txt-upper">Web</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Product photography</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>
				</div>

				
				<div class="masonry-item cl photography" data-animate-in="fadeInUp|0.6">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-06.jpg"></b>
								<img src="assets/images/portfolio-img-06.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Photography</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Product photography</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>
				</div>

				
				<div class="masonry-item cl brand web" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-07.jpg"></b>
								<img src="assets/images/portfolio-img-07.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Branding</span>
							<span class="mr-r-4 fs11 txt-upper">Web</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Wine bottle</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>

				</div>

				
				<div class="masonry-item cl advert" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-08.jpg"></b>
								<img src="assets/images/portfolio-img-08.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Advertising</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Package advertising</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>

				</div>

				
				<div class="masonry-item cl brand" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-09.jpg"></b>
								<img src="assets/images/portfolio-img-09.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Brand</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Frame mock-up</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>

				</div>

				
				<div class="masonry-item cl design brand" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-10.jpg"></b>
								<img src="assets/images/portfolio-img-10.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Design</span>
							<span class="mr-r-4 fs11 txt-upper">Branding</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Complete branding</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>
				</div>

				
				<div class="masonry-item cl brand" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-11.jpg"></b>
								<img src="assets/images/portfolio-img-11.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Branding</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Visiting cards</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>
				</div>

				
				<div class="masonry-item cl design" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g0 mr-0">
						<div class="img">
							<figure class="hover-box1">
								<a href="#" class="full-wh z3"></a>
								<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-12.jpg"></b>
								<img src="assets/images/portfolio-img-12.jpg" alt="image" class="op-0">
								<figcaption class="overlay z2 pd-tiny flex-cc typo-light align-c">
									<div class="content pos-rel z1 ani-right w100">
										<a href="#" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
									</div>
									<b class="bg-dark op-09 full-wh"></b>
								</figcaption>
								
							</figure>
						</div>
						<div class="info pd-tiny bg-gray">
							<span class="mr-r-4 fs11 txt-upper">Design</span>

							<h2 class="title fs16 mr-b-4 bold-n f-1 with-sep-r mr-tb-10"><span><a href="#">Book design</a></span></h2>
							<p class="mr-0 fs13">Lorem ipsum dolor sitamet consectetur adipisicing</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- ======= END : =======  -->

	</div>
	<!-- ************** END : PORTFOLIO GRID 02 **************  -->