<!--
	************************************************************
	* PAGE HEADER 01
	************************************************************ -->
	<header class="pos-rel pd-tb-large" data-ckav-sm="pd-tb-medium">
		<div class="container small typo-light pos-rel z2">
			<div class="w75 mr-auto content align-c" data-rgen-sm="mr-0">
				<p><span class="tag-text bg-default">25 Apr 2016</span></p>
				<h1 class="title" data-rgen-sm="medium">Seddiam nonumy eirmod tempor invidunt</h1>
				<p class="fs12 italic">
					<i class="fs14 mr-r-6 fa fa-user"></i><a href="#">Admin</a>
					<span class="mr-lr-5">|</span>
					<i class="fs14 mr-r-6 fa fa-th"></i><a href="#">General</a>, <a href="#">Creative</a>
					<span class="mr-lr-5">|</span>
					<i class="fs14 mr-r-6 fa fa-comments"></i><a href="#">13 Comments</a>
				</p>

				<div class="fs12 pd-tb-5 pd-lr-tiny inline-block rd-30">
					<a routerLink="/" class="txt-white">Accueil</a>
					<b class="mr-lr-5"> / </b>
					<a routerLink="/actualité" class="txt-white">Actualités</a>	
				</div>
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-pageheader-01.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->

	<!--
	************************************************************
	* BLOG SINGLE 01
	************************************************************ -->
	<section class="pd-tb-small" data-ckav-sm="pd-tb-small">
		<div class="container">
			<div class="row gt60 mb60">
				
				<div class="col-lg-9">
					<p><img src="assets/images/blog-img-01.jpg" alt="image"></p>
					
					<div class="mr-b-small">
						<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

						<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>

						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
						
						<blockquote class="txt-dark">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
						</blockquote>
						
						<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.</p>
						
						<h3 class="title mini bold-n">List item title</h3>
						<ul class="list-3">
							<li>Nullam id dolor id nibh ultricies vehicula </li>
							<li>Curabitur blandit tempus porttitor</li>
							<li>Integer posuere erat a ante venenatis</li>
							<li>dapibus posuere velit aliquet</li>
							<li>Cras justo odio, dapibus ac facilisis</li>
						</ul>
					</div>
					
					
					<!--=================================
					= TAGS
					==================================-->
					<hr>
					<a href="#" class="btn mr-2 btn-default tiny">General</a> 
					<a href="#" class="btn mr-2 btn-default tiny">Information</a> 
					<a href="#" class="btn mr-2 btn-default tiny">Media</a> 
					<a href="#" class="btn mr-2 btn-default tiny">Press</a> 
					<a href="#" class="btn mr-2 btn-default tiny">Gallery</a> 
					<a href="#" class="btn mr-2 btn-default tiny">Illustration</a> 
					<!-- ======= END : TAGS =======  -->

					<!--=================================
					= SHARING
					==================================-->
					<hr>
					<div class="row gt20 middle-md" data-ckav-sm="align-c">
						<div class="col-md-6">
							Share this post : 
						</div>
						
						<div class="col-md-6 align-r" data-ckav-sm="align-c">
							<a href="#" target="_blank" class="sq40 fs18 mr-r-4 rd-4 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
							<a href="#" target="_blank" class="sq40 fs18 mr-r-4 rd-4 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
							<a href="#" target="_blank" class="sq40 fs18 mr-r-4 rd-4 iconbox btn-dark"><i class="fab fa-google"></i></a>
							<a href="#" target="_blank" class="sq40 fs18 mr-r-4 rd-4 iconbox btn-dark"><i class="fab fa-youtube"></i></a>
							<a href="#" target="_blank" class="sq40 fs18 mr-r-4 rd-4 iconbox btn-dark"><i class="fab fa-tumblr"></i></a>
						</div>
					</div>
					<!-- ======= END : SHARING =======  -->

					<hr>

					<!--=================================
					= AUTHOR
					==================================-->
					<h3 class="title small bold-n">Posted by <a href="#" class="link-default">Oupsum dolor</a></h3>
					<div class="info-obj img-l g20 medium bdr-1 bdr-op-1 pd-tiny align-l rd-4 mr-b-mini" data-ckav-sm="img-t align-c pd-20">
						<div class="img"><img src="assets/images/person-01.jpg" class="rd" alt="author"></div>
						<div class="info">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo error temporibus quos sequi modi maiores pariatur atque ipsum inventore deserunt, eaque placeat corporis voluptas cupiditate? Aut, reiciendis, animi. Minima, inventore.</p>
							<p>Nemo error temporibus quos sequi modi maiores pariatur atque ipsum inventore deserunt, eaque placeat corporis voluptas cupiditate? Aut, reiciendis, animi. Minima, inventore.</p>
						</div>
					</div>
					<!-- ======= END : AUTHOR =======  -->
					
					<!--=================================
					= COMMENTS
					==================================-->
					<h3 class="title small bold-n">4 Comments</h3>
					<ul class="list-reset mr-b-mini">
						<li>
							<div class="info-obj img-l small align-l comment">
								<div class="img -mr-r-10 mr-t-10 z1"><img src="assets/images/person-02.jpg" class="rd" alt="author"></div>
								<div class="info rd-4 bg-gray pd-tiny">
									<h4 class="title mini mr-b-4">Oupsum dolor</h4>
									<p class="fs12">25 Apr 2016 <span class="mr-lr-10">|</span> <a href="#" class="link-default">Reply</a></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo error temporibus quos sequi modi maiores pariatur atque ipsum inventore deserunt, eaque placeat corporis voluptas cupiditate? Aut, reiciendis, animi. Minima, inventore.</p>
								</div>
							</div>

							<div class="info-obj img-l small align-l comment">
								<div class="img -mr-r-10 mr-t-10 z1"><img src="assets/images/person-03.jpg" class="rd" alt="author"></div>
								<div class="info rd-4 bg-gray pd-tiny">
									<h4 class="title mini mr-b-4">Oupsum dolor</h4>
									<p class="fs12">25 Apr 2016 <span class="mr-lr-10">|</span> <a href="#" class="link-default">Reply</a></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo error temporibus quos sequi modi maiores pariatur atque ipsum inventore deserunt, eaque placeat corporis voluptas cupiditate? Aut, reiciendis, animi. Minima, inventore.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="info-obj img-l small align-l comment">
								<div class="img -mr-r-10 mr-t-10 z1"><img src="assets/images/person-04.jpg" class="rd" alt="author"></div>
								<div class="info rd-4 bg-gray pd-tiny">
									<h4 class="title mini mr-b-4">Oupsum dolor</h4>
									<p class="fs12">25 Apr 2016 <span class="mr-lr-10">|</span> <a href="#" class="link-default">Reply</a></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo error temporibus quos sequi modi maiores pariatur atque ipsum inventore deserunt, eaque placeat corporis voluptas cupiditate? Aut, reiciendis, animi. Minima, inventore.</p>
								</div>
							</div>
						</li>
					</ul>
					<!-- ======= END : COMMETNS =======  -->
					
					<!--=================================
					= COMMENT FORM
					==================================-->
					<h2 class="title small mr-b-20 bold-n">Leave a comment</h2>
					<div class="form-block">
						<form action="form-data/formdata.php" class="form-widget" data-success-redirect="y" >
							<div class="field-wrp">
								<input type="hidden" name="to" value="c.kav.art@gmail.com">
								<div class="row gt20 mb10">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
										</div>
									</div>
								</div>
								<div class="form-group">
									<textarea class="form-control" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit" class="btn btn-dark solid"><i class="fa fa-envelope-o"></i> Submit</button>
						</form>
					</div>
					<!-- ======= END : COMMENT FORM =======  -->

				</div>
				
				<!--=================================
				= SIDE BAR
				==================================-->
				<div class="col-lg-3" data-ckav-sm="hide">

					<!-- SEARCH -->
					<div class="mr-b-mini">
						<div class="search-frm">
							<input class="form-control w100" type="text" name="search" placeholder="Search post">
							<button type="submit" class="btn btn-dark solid"><i class="fa fa-search"></i></button>
						</div>
					</div>
					<!-- / SEARCH -->
			
					<!-- CATEGORIES -->
					<div class="mr-b-mini">
						<h3 class="title mini mr-b-10 bold-n">Categories</h3>

						<ul class="list-reset list-links">
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Consectetur adipisicing</a></li>
							<li><a href="#">Adipisicing</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Consectetur adipisicing</a></li>
									<li><a href="#">Adipisicing</a></li>
								</ul>
							</li>
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Consectetur adipisicing</a></li>
							<li><a href="#">Adipisicing</a></li>
						</ul>
					</div>
					<!-- / CATEGORIES -->

					<!-- POPULAR POST -->
					<div class="mr-b-mini">
						<h3 class="title mini mr-b-10 bold-n">Popular posts</h3>
						<div class="info-obj g14 img-l mini align-l bdr-b bdr-op-1 pd-b-10 mr-b-10">
							<div class="img mr-t-4"><span class="iconwrp bg-cc bg-cover" data-bg="assets/images/800x600-blog-01.jpg"></span></div>
							<div class="info">
								<p class="mr-b-10"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></p>
								<p class="fs12 mr-0"><a href="#" class="link-default">3 Comments</a></p>
							</div>
						</div><!-- info box -->

						<div class="info-obj g14 img-l mini align-l bdr-b bdr-op-1 pd-b-10 mr-b-10">
							<div class="img mr-t-4"><span class="iconwrp bg-cc bg-cover" data-bg="assets/images/800x600-blog-02.jpg"></span></div>
							<div class="info">
								<p class="mr-b-10"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></p>
								<p class="fs12 mr-0"><a href="#" class="link-default">3 Comments</a></p>
							</div>
						</div><!-- info box -->

						<div class="info-obj g14 img-l mini align-l bdr-b bdr-op-1 pd-b-10 mr-b-10">
							<div class="img mr-t-4"><span class="iconwrp bg-cc bg-cover" data-bg="assets/images/800x600-blog-03.jpg"></span></div>
							<div class="info">
								<p class="mr-b-10"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></p>
								<p class="fs12 mr-0"><a href="#" class="link-default">3 Comments</a></p>
							</div>
						</div><!-- info box -->
					</div>
					<!-- / POPULAR POST -->

					<!-- SUBSCRIBE -->
					<div class="mr-b-mini">
						<h3 class="title mini mr-b-10 bold-n">Newsletters</h3>
						<p class="op-07 mr-b-10">Subscribe for our monthly newsletter to stay updated</p>
						<!--
						==================================
						= Newsletter section
						==================================-->
						<div class="subscribe-block _1 small">
							<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter" novalidate="novalidate">
								<div class="form-group">
									<button type="submit" data-loading-text="Pleae wait.." class="btn btn-dark bdr-glass"><i class="fas fa-long-arrow-alt-right fs20"></i></button>
									<input class="form-control w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</form>
						</div><!-- ======= END : Newsletter section =======  -->

					</div>
					<!-- / SUBSCRIBE -->

				</div>
				<!-- ======= END : SLIDE BAR =======  -->

			</div>
		</div>
	</section>
	<!-- ************** END : BLOG SINGLE 01 **************  -->