<!--
	************************************************************
	* PAGE HEADER 02
	************************************************************ -->
	<header class="pos-rel pd-tb-large flex-cc min-vh-h50" data-ckav-sm="pd-tb-medium">
		<div class="container typo-light pos-rel z2 pd-b-1">

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="content" data-ckav-sm="mr-0">
						<h1 class="title xlarge f-1" data-ckav-sm="medium">Services</h1>
						<p class="title-sub small" data-ckav-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit quisquam ipsum nostrum beatae est vero</p>
					</div>
				</div>

				<div class="col-md-6 align-r">
					<div class="fs14 pd-tb-5 pd-lr-tiny inline-block">
						<a href="#" class="txt-white">Accueil</a>
						<b class="mr-lr-5"> / </b>
						<a href="#" class="txt-white">Services</a>	
					</div>
				</div>				
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-pageheader-01.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->
    
    <!--
	************************************************************
	* PAGE CONTENT 09
	************************************************************ -->
	<section id="content09" class="pos-rel pd-tb-small bg-gray" data-ckav-sm="pd-tb-small">
		<div class="container">
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-6">
					<h2 class="title bold-4 f-1">What we do</h2>
					<p class="title-sub small italic f-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					
					<ul class="list-2">
						<li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit</li>
						<li><i class="fa fa-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo</li>
						<li><i class="fa fa-check"></i> Eiusmod tempor incididunt ut labore</li>
						<li><i class="fa fa-check"></i> Consectetur adipisicing elit seddo eiusmod tempor incididunt</li>
						<li><i class="fa fa-check"></i> Utenim ad minim veniam quis nostrud exercitation</li>
					</ul>
				</div>
				
				<div class="col-md-5 offset-md-1">
					<p class="mr-b-mini"><img src="assets/images/800x600-blog-01.jpg" alt="Image"></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- ************** END : PAGE CONTENT 09 **************  -->	

	<!--
	************************************************************
	* PAGE CONTENT 11
	************************************************************ -->
	<section id="content11" class="pos-rel pd-tb-small bg-gray" data-ckav-sm="pd-tb-small">
		<div class="container">
			
			<div class="row gt50 mb20">
				<div class="col-md-4">
					<div class="info-obj img-t g30 mr-0">
						<div class="img"><img src="assets/images/800x600-blog-02.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini bold-4 bdr-b bdr-b-1 bdr-default f-1">Our mission</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime excepturi dolor molestias non recusandae explicabo quidem at illum commodi nobis amet.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="info-obj img-t g30 mr-0">
						<div class="img"><img src="assets/images/800x600-blog-03.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini bold-4 bdr-b bdr-b-1 bdr-default f-1">Why choose us</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime excepturi dolor molestias non recusandae explicabo quidem at illum commodi nobis amet.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="info-obj img-t g30 mr-0">
						<div class="img"><img src="assets/images/800x600-blog-04.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini bold-4 bdr-b bdr-b-1 bdr-default f-1">Our promise</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime excepturi dolor molestias non recusandae explicabo quidem at illum commodi nobis amet.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ************** END : PAGE CONTENT 11 **************  -->	

	<!--
	************************************************************
	* CONTENT SECTION 07
	************************************************************ -->
	<section id="content07" class="pos-rel pd-tb-medium" data-ckav-sm="pd-tb-small align-c">
		<div class="container align-c">
			
			<!--=================================
			= CONTENT AREA
			==================================-->
			<div class="row middle-md mb20">
				
				<div class="col-lg-6 offset-lg-1 last-lg" data-animate-in="fadeInRight">
					<img src="assets/images/content-img-app-01.png" class="img-responsive" alt="image">
				</div>

				<div class="col-lg-5 align-l" data-ckav-sm="align-c" data-animate-in="fadeInLeft">
					<div class="content">
						<h2 class="title medium f-1 bold-4" data-ckav-sm="medium">Modern, User Friendly &amp; Powerful Interface</h2>
						<p class="title-sub small f-2" data-ckav-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
						
						<hr class="dark mr-tb-30">
						
						<div class="info-obj img-l g20 mini align-l">
							<div class="img txt-dark"><img src="assets/images/person-01.jpg" class="rd" alt="Person"></div>
							<div class="info">
								<p class="lh-7 f-2">"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."</p>

								<strong class="f-1 bold-5">- Oupsum dolor</strong><br>
								<em class="f-2 fs12">&nbsp;&nbsp; Creative Director</em>
							</div>
						</div>

					</div>
				</div>

			</div>
			<!-- ======= END : CONTENT AREA =======  -->
			
			<hr class="mr-tb-40" data-ckav-sm="mr-tb-30" data-animate-in="fadeIn">

			<!--=================================
			= INFO BOXES
			==================================-->
			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 mini align-c pos-rel">
						<div class="img txt-default"><span class="iconwrp"><i class="icon-mobile"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-4 f-1">Fully responsive</h3>
							<p class="f-2">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
						</div>
					</div>
				</div>

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 mini align-c pos-rel">
						<div class="img txt-default"><span class="iconwrp"><i class="icon-puzzle"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-4 f-1">Flexible design blocks</h3>
							<p class="f-2">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
						</div>
					</div>
				</div>

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 mini align-c pos-rel">
						<div class="img txt-default"><span class="iconwrp"><i class="icon-paintbrush"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-4 f-1">Easy to customize</h3>
							<p class="f-2">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
						</div>
					</div>
				</div>
			</div>
			<!-- ======= END : INFO BOXES =======  -->

		</div>
	</section>
	<!-- ************** END : CONTENT SECTION 07 **************  -->	