<!--
	************************************************************
	* PAGE HEADER 02
	************************************************************ -->
	<header class="pos-rel pd-tb-large flex-cc min-vh-h60" data-ckav-sm="pd-tb-medium">
		<div class="container typo-light pos-rel z2 pd-b-1">

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="content" data-ckav-sm="mr-0">
						<h1 class="title xlarge f-1" data-ckav-sm="medium">Galerie</h1>
						<p class="title-sub small" data-ckav-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit quisquam ipsum nostrum beatae est vero</p>
					</div>
				</div>

				<div class="col-md-6 align-r">
					<div class="fs14 pd-tb-5 pd-lr-tiny inline-block">
						<a routerLink="/" class="txt-white">Accueil</a>
						<b class="mr-lr-5"> / </b>
						<a href="#" class="txt-white">Galerie</a>	
					</div>
				</div>				
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-pageheader-01.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->

	<!--
	************************************************************
	* PORTFOLIO 21
	************************************************************ -->
	<div class="container pd-tb-small" data-ckav-sm="pd-tb-small">
	
		<!--=================================
		= PORTFOLIO
		==================================-->
		<div class="masonry-wrp w100">

			<div class="masonry-grid rw eq3 gt20 mb20 popgallery-widget ratio-square" data-masonry-grid>
				
				<div class="masonry-item cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-01.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-ct" data-bg="assets/images/photo-01.jpg"></b>
						</div>
					</figure>
				</div>

				<div class="masonry-item cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-02.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-02.jpg"></b>
						</div>
					</figure>
				</div>

				<div class="masonry-item cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-03.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-03.jpg"></b>
						</div>
					</figure>
				</div>

				<div class="masonry-item cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-04.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-04.jpg"></b>
						</div>
					</figure>
				</div>


				<div class="masonry-item cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-05.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-05.jpg"></b>
						</div>
					</figure>
				</div>


				<div class="masonry-item cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-06.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-06.jpg"></b>
						</div>
					</figure>
				</div>


				<div class="masonry-item cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-07.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-07.jpg"></b>
						</div>
					</figure>
				</div>


				<div class="masonry-item cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-08.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-08.jpg"></b>
						</div>
					</figure>
				</div>


				<div class="masonry-item cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-09.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-ct" data-bg="assets/images/photo-09.jpg"></b>
						</div>
					</figure>
				</div>


				<div class="masonry-item cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-10.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-10.jpg"></b>
						</div>
					</figure>
				</div>

				<div class="masonry-item cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-11.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-11.jpg"></b>
						</div>
					</figure>
				</div>


				<div class="masonry-item cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-12.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-12.jpg"></b>
						</div>
					</figure>
				</div>

				<div class="masonry-item cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-13.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-13.jpg"></b>
						</div>
					</figure>
				</div>

				<div class="masonry-item cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="full-wh">
							<!-- INFO -->
							<div class="overlay z2 pd-tiny flex-cc align-c typo-light">
								<div class="content pos-rel z1 ani-down w100">
									<a href="assets/images/photo-14.jpg" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox pop-img"><i class="fa fa-search"></i></a>
									<a href="#" class="sq50 bg-glass-dark-02 hov-btn-dark solid fs18 mr-r-2 iconbox"><i class="fa fa-link"></i></a>
								</div>
								<b class="bg-default op-09 full-wh"></b>
							</div>
							<!-- IMAGE -->
							<b class="full-wh bg-cover bg-cc" data-bg="assets/images/photo-14.jpg"></b>
						</div>
					</figure>
				</div>

			</div><!-- // END : masonry-grid //  -->
		</div>
		<!-- ======= END : =======  -->

	</div>
	<!-- ************** END : PORTFOLIO 21 **************  -->