<!--
	************************************************************
	* PAGE HEADER 02
	************************************************************ -->
	<header class="pos-rel pd-tb-large flex-cc min-vh-h60" data-ckav-sm="pd-tb-medium">
		<div class="container typo-light pos-rel z2 pd-b-1">

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="content" data-ckav-sm="mr-0">
						<h1 class="title xlarge f-1" data-ckav-sm="medium">Actualité</h1>
						<p class="title-sub small" data-ckav-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit quisquam ipsum nostrum beatae est vero</p>
					</div>
				</div>

				<div class="col-md-6 align-r">
					<div class="fs14 pd-tb-5 pd-lr-tiny inline-block">
						<a routerLink="/" class="txt-white">Accueil</a>
						<b class="mr-lr-5"> / </b>
						<a href="#" class="txt-white">Actualité</a>	
					</div>
				</div>				
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-pageheader-01.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->
	
	<!--
	************************************************************
	* BLOG LIST GRID 04
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-ckav-sm="pd-tb-small align-c">
		<div class="container">

			<div class="row gt60">
				
				<!--=================================
				= BLOG WRAPPER
				==================================-->
				<div class="col-lg-9">
					<div class="masonry-wrp w100">
						<div class="masonry-grid rw eq2 gt20 mb20" data-masonry-grid>
							
							<div class="masonry-item cl design brand" data-animate-in="fadeInUp|0.1">
								
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio1-img-01.jpg"></b>
											<img src="assets/images/portfolio1-img-01.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>

							</div>

							<div class="masonry-item cl advert brand" data-animate-in="fadeInUp|0.2">

								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio1-img-02.jpg"></b>
											<img src="assets/images/portfolio1-img-02.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>

							</div>

							<div class="masonry-item cl icons design" data-animate-in="fadeInUp|0.3">

								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio1-img-03.jpg"></b>
											<img src="assets/images/portfolio1-img-03.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>
							</div>

							<div class="masonry-item cl design brand icons" data-animate-in="fadeInUp|0.4">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio1-img-04.jpg"></b>
											<img src="assets/images/portfolio1-img-04.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>

							</div>

							<div class="masonry-item cl photography web" data-animate-in="fadeInUp|0.5">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio1-img-05.jpg"></b>
											<img src="assets/images/portfolio1-img-05.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>
							</div>

							<div class="masonry-item cl photography" data-animate-in="fadeInUp|0.6">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-06.jpg"></b>
											<img src="assets/images/portfolio-img-06.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>
							</div>

							<div class="masonry-item cl brand web" data-animate-in="fadeInUp|0.1">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-07.jpg"></b>
											<img src="assets/images/portfolio-img-07.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>

							</div>

							<div class="masonry-item cl advert" data-animate-in="fadeInUp|0.2">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-08.jpg"></b>
											<img src="assets/images/portfolio-img-08.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>

							</div>

							<div class="masonry-item cl brand" data-animate-in="fadeInUp|0.3">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-09.jpg"></b>
											<img src="assets/images/portfolio-img-09.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>

							</div>

							<div class="masonry-item cl design brand" data-animate-in="fadeInUp|0.1">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-10.jpg"></b>
											<img src="assets/images/portfolio-img-10.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>
							</div>

							<div class="masonry-item cl brand" data-animate-in="fadeInUp|0.2">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-11.jpg"></b>
											<img src="assets/images/portfolio-img-11.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>
							</div>

							<div class="masonry-item cl design" data-animate-in="fadeInUp|0.3">
								<div class="info-obj img-t g0 mr-0">
									<div class="img">
										<figure class="hover-box1">
											<a href="http://ckavart.com/" class="full-wh z3"></a>
											<div class="overlay z2 pd-tiny flex-cc typo-light align-c">
												<div class="content pos-rel z1 ani-right w100">
													<a href="http://ckavart.com/" class="sq100 fs70 iconbox txt-default"><i class="pe-7s-right-arrow"></i></a>
												</div>
												<b class="bg-dark op-09 full-wh"></b>
											</div>
											<b class="full-wh bg-cover bg-cc" data-bg="assets/images/portfolio-img-12.jpg"></b>
											<img src="assets/images/portfolio-img-12.jpg" alt="image" class="op-0">
										</figure>
									</div>
									<div class="info pd-tiny bg-gray">
										<ul class="inline-grid align-l fs12 mr-b-20 grid-mid">
											<li class="mr-r-10"><span class="tag-text">25 Apr 2016</span></li>
											<li><a href="http://ckavart.com/">By Admin</a></li>
											<li><span class="mr-lr-5">|</span></li>
											<li><a href="http://ckavart.com/">General</a></li>
										</ul>

										<h3 class="fs16 mr-b-10 f-1 bold-4"><a href="http://ckavart.com/" target="_blank">Seddiam nonumy eirmod tempor invidunt</a></h3>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

									</div>
								</div>
							</div>
							
						</div>
					</div>

					<div class="align-c mr-t-60" data-ckav-sm="mr-t-30">
						<ul class="inline-grid grid-mid">
							<li class="mr-r-10"><a href="http://ckavart.com/" class="btn btn-dark bdr-glass small" data-ckav-sm="mini"><i class="fas fa-long-arrow-alt-left mr-r-4" data-ckav-sm="hide"></i> Prev</a></li>
							<li><a href="http://ckavart.com/" data-ckav-sm="mini" class="btn btn-dark bdr-op-1 mr-lr-5 active small">1</a></li>
							<li><a href="http://ckavart.com/" data-ckav-sm="mini" class="btn btn-dark bdr-op-1 mr-lr-5 small">2</a></li>
							<li><a href="http://ckavart.com/" data-ckav-sm="mini" class="btn btn-dark bdr-op-1 mr-lr-5 small">3</a></li>
							<li class="mr-l-10"><a href="http://ckavart.com/" class="btn btn-dark bdr-glass small">Next <i class="fas fa-long-arrow-alt-right mr-l-4" data-ckav-sm="hide"></i></a></li>
						</ul>
					</div>

				</div>
				<!-- ======= END : BLOG WRAPPER =======  -->
				
				<!--=================================
				= SIDE BAR
				==================================-->
				<div class="col-lg-3" data-ckav-sm="hide">

					<!-- SEARCH -->
					<div class="mr-b-mini">
						<div class="search-frm">
							<input class="form-control w100" type="text" name="search" placeholder="Search post">
							<button type="submit" class="btn btn-dark solid"><i class="fa fa-search"></i></button>
						</div>
					</div>
					<!-- / SEARCH -->
			
					<!-- CATEGORIES -->
					<div class="mr-b-mini">
						<h3 class="title mini mr-b-10 bold-n">Categories</h3>

						<ul class="list-reset list-links">
							<li><a href="http://ckavart.com/">Lorem ipsum dolor</a></li>
							<li><a href="http://ckavart.com/">Consectetur adipisicing</a></li>
							<li><a href="http://ckavart.com/">Adipisicing</a>
								<ul>
									<li><a href="http://ckavart.com/">Lorem ipsum dolor</a></li>
									<li><a href="http://ckavart.com/">Consectetur adipisicing</a></li>
									<li><a href="http://ckavart.com/">Adipisicing</a></li>
								</ul>
							</li>
							<li><a href="http://ckavart.com/">Lorem ipsum dolor</a></li>
							<li><a href="http://ckavart.com/">Consectetur adipisicing</a></li>
							<li><a href="http://ckavart.com/">Adipisicing</a></li>
						</ul>
					</div>
					<!-- / CATEGORIES -->

					<!-- POPULAR POST -->
					<div class="mr-b-mini">
						<h3 class="title mini mr-b-10 bold-n">Popular posts</h3>
						<div class="info-obj g14 img-l mini align-l bdr-b bdr-op-1 pd-b-10 mr-b-10">
							<div class="img mr-t-4"><span class="iconwrp bg-cc bg-cover" data-bg="assets/images/800x600-blog-01.jpg"></span></div>
							<div class="info">
								<p class="mr-b-10"><a href="http://ckavart.com/">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></p>
								<p class="fs12 mr-0"><a href="http://ckavart.com/" class="link-default">3 Comments</a></p>
							</div>
						</div><!-- info box -->

						<div class="info-obj g14 img-l mini align-l bdr-b bdr-op-1 pd-b-10 mr-b-10">
							<div class="img mr-t-4"><span class="iconwrp bg-cc bg-cover" data-bg="assets/images/800x600-blog-02.jpg"></span></div>
							<div class="info">
								<p class="mr-b-10"><a href="http://ckavart.com/">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></p>
								<p class="fs12 mr-0"><a href="http://ckavart.com/" class="link-default">3 Comments</a></p>
							</div>
						</div><!-- info box -->

						<div class="info-obj g14 img-l mini align-l bdr-b bdr-op-1 pd-b-10 mr-b-10">
							<div class="img mr-t-4"><span class="iconwrp bg-cc bg-cover" data-bg="assets/images/800x600-blog-03.jpg"></span></div>
							<div class="info">
								<p class="mr-b-10"><a href="http://ckavart.com/">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></p>
								<p class="fs12 mr-0"><a href="http://ckavart.com/" class="link-default">3 Comments</a></p>
							</div>
						</div><!-- info box -->
					</div>
					<!-- / POPULAR POST -->

					<!-- SUBSCRIBE -->
					<div class="mr-b-mini">
						<h3 class="title mini mr-b-10 bold-n">Newsletters</h3>
						<p class="op-07 mr-b-10">Subscribe for our monthly newsletter to stay updated</p>
						<!--
						==================================
						= Newsletter section
						==================================-->
						<div class="subscribe-block _1 small">
							<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter" novalidate="novalidate">
								<div class="form-group">
									<button type="submit" data-loading-text="Pleae wait.." class="btn btn-dark bdr-glass"><i class="fas fa-long-arrow-alt-right fs20"></i></button>
									<input class="form-control w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</form>
						</div><!-- ======= END : Newsletter section =======  -->

					</div>
					<!-- / SUBSCRIBE -->

				</div>
				<!-- ======= END : SLIDE BAR =======  -->

			</div>

		</div>
	</section>
	<!-- ************** END : BLOG LIST GRID 04 **************  -->