<!--
	************************************************************
	* PAGE HEADER 02
	************************************************************ -->
	<header class="pos-rel pd-tb-large flex-cc min-vh-h50" data-ckav-sm="pd-tb-medium">
		<div class="container typo-light pos-rel z2 pd-b-1">

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="content" data-ckav-sm="mr-0">
						<h1 class="title xlarge f-1" data-ckav-sm="medium">About</h1>
						<p class="title-sub small" data-ckav-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit quisquam ipsum nostrum beatae est vero</p>
					</div>
				</div>

				<div class="col-md-6 align-r">
					<div class="fs14 pd-tb-5 pd-lr-tiny inline-block">
						<a href="#" class="txt-white">Accueil</a>
						<b class="mr-lr-5"> / </b>
						<a href="#" class="txt-white">A propos</a>	
					</div>
				</div>				
			</div>
		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-pageheader-01.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</header>
	<!-- ************** END : PAGE HEADER 01 **************  -->
	
	<!--
	************************************************************
	* PAGE CONTENT 01
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-ckav-sm="align-c pd-tb-medium">
        <div class="container">
            <div class="row middle-md" data-ckav-sm="align-c">
                <div class="col-md-6" data-animate-in="fadeInLeft">
                    <div class="pos-rel" data-ckav-sm="mr-b-40">
                        <a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="full-wh flex-cc video-popup">
                            <span class="sq80 btn-default solid iconbox bdr-2 rd fs30"><i class="fa fa-play mr-l-4"></i></span>
                        </a>
                        <img src="assets/images/800x600-corporate-01.jpg" class="img-responsive" alt="image">
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="content">
                        <h2 class="title bold-5 f-1" data-ckav-sm="medium" data-animate-in="fadeInUp|0.1">About us</h2>
                        <p class="title-sub small" data-ckav-sm="small" data-animate-in="fadeInUp|0.2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                        <p data-animate-in="fadeInUp|0.3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
	</section>
	<!-- ************** END : PAGE CONTENT 01 **************  -->

	<!--
	************************************************************
	* PAGE FEATURES 01
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-gray" data-ckav-sm="pd-tb-medium align-c">
        <div class="container align-c">
        
            <!--=================================
            = TEXT
            ==================================-->
            <div class="w75 mr-auto mr-b-100" data-ckav-sm="mr-b-20">
                <h2 class="title medium f-1" data-ckav-sm="medium" data-animate-in="fadeInUp|0.1">Explore features</h2>
                <p class="title-sub" data-ckav-sm="small" data-animate-in="fadeInUp|0.1">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
            </div>
            <!-- ======= END : TEXT =======  -->

            <!--=================================
            = INFO-BOXES
            ==================================-->
            <div class="row gt50 mb40">
                <div class="col-md-4">
                    <div class="info-obj img-t g20 medium align-c" data-animate-in="fadeInUp|0.1">
                        <div class="img"><span class="iconwrp rd txt-white bg-dark"><i class="pe-7s-browser"></i></span></div>
                        <div class="info">
                            <h3 class="title mini f-1 bold-5">Clean code</h3>
                            <p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-obj img-t g20 medium align-c" data-animate-in="fadeInUp|0.2">
                        <div class="img"><span class="iconwrp rd txt-white bg-dark"><i class="pe-7s-refresh-2"></i></span></div>
                        <div class="info">
                            <h3 class="title mini f-1 bold-5">Flexible form script</h3>
                            <p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-obj img-t g20 medium align-c" data-animate-in="fadeInUp|0.3">
                        <div class="img"><span class="iconwrp rd txt-white bg-dark"><i class="pe-7s-shuffle"></i></span></div>
                        <div class="info">
                            <h3 class="title mini f-1 bold-5">Advanced helper CSS</h3>
                            <p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-obj img-t g20 medium align-c" data-animate-in="fadeInUp|0.1">
                        <div class="img"><span class="iconwrp rd txt-white bg-dark"><i class="pe-7s-download"></i></span></div>
                        <div class="info">
                            <h3 class="title mini f-1 bold-5">Full screen slideshow</h3>
                            <p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-obj img-t g20 medium align-c" data-animate-in="fadeInUp|0.2">
                        <div class="img"><span class="iconwrp rd txt-white bg-dark"><i class="pe-7s-paint-bucket"></i></span></div>
                        <div class="info">
                            <h3 class="title mini f-1 bold-5">Easy to customize</h3>
                            <p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-obj img-t g20 medium align-c" data-animate-in="fadeInUp|0.3">
                        <div class="img"><span class="iconwrp rd txt-white bg-dark"><i class="pe-7s-plugin"></i></span></div>
                        <div class="info">
                            <h3 class="title mini f-1 bold-5">Simple &amp; easy widgets</h3>
                            <p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ======= END : INFO BOXES =======  -->

        </div>
	</section>
	<!-- ************** END : PAGE FEATURES 01 **************  -->

	<!--
	************************************************************
	* COUNTER SECTION 03
	************************************************************ -->
	<section id="count03" class="pos-rel pd-tb-medium bg-dark" data-ckav-sm="pd-tb-small">
		<div class="container">
			<ul class="rw eq5 gt30">
				<li class="cl">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-like2"></i></span></div>
						<div class="info">
							<div class="px-h50 mr-auto px-w1 bdr-r mr-b-10 bdr-white full-visible" data-ckav-sm="hide"></div>
							<h2 class="title large bold-5" data-ckav-sm="fs30 mr-b-0"><span class="count">100</span>%</h2>
							<p class="mr-0 fs18">Quality</p>
						</div>
					</div>
				</li>

				<li class="cl">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-diamond"></i></span></div>
						<div class="info">
							<div class="px-h50 mr-auto px-w1 bdr-r mr-b-10 bdr-white full-visible" data-ckav-sm="hide"></div>
							<h2 class="title large bold-5" data-ckav-sm="fs30 mr-b-0"><span class="count">40</span></h2>
							<p class="mr-0 fs18">Years of experience</p>
						</div>
					</div>
				</li>

				<li class="cl">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-user"></i></span></div>
						<div class="info">
							<div class="px-h50 mr-auto px-w1 bdr-r mr-b-10 bdr-white full-visible" data-ckav-sm="hide"></div>
							<h2 class="title large bold-5" data-ckav-sm="fs30 mr-b-0"><span class="count">15</span>+</h2>
							<p class="mr-0 fs18">Expert Trainers</p>
						</div>
					</div>
				</li>	

				<li class="cl">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-note2"></i></span></div>
						<div class="info">
							<div class="px-h50 mr-auto px-w1 bdr-r mr-b-10 bdr-white full-visible" data-ckav-sm="hide"></div>
							<h2 class="title large bold-5" data-ckav-sm="fs30 mr-b-0"><span class="count">20</span>+</h2>
							<p class="mr-0 fs18">Yoga Courses</p>
						</div>
					</div>
				</li>

				<li class="cl">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-id"></i></span></div>
						<div class="info">
							<div class="px-h50 mr-auto px-w1 bdr-r mr-b-10 bdr-white full-visible" data-ckav-sm="hide"></div>
							<h2 class="title large bold-5" data-ckav-sm="fs30 mr-b-0"><span class="count">800</span>+</h2>
							<p class="mr-0 fs18">Members</p>
						</div>
					</div>
				</li>
			</ul>

		</div><!-- // END : Container //  -->

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z4" data-rgradient="y" data-rg-colors="rgba(0, 0, 0, 0.2)|rgba(0, 0, 0, 1)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="y" data-speed="0.2" data-bg="assets/images/bg-pageheader-01.jpg"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->

	</section>
	<!-- ************** END : COUNTER SECTION 03 **************  -->

	<!--
	************************************************************
	* PAGE CONTENT 02
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-ckav-sm="pd-tb-medium">
		<div class="container pos-rel z1">

			<!--=================================
			= TEAM
			==================================-->
			<div class="w75 mr-auto align-c mr-b-60" data-ckav-sm="mr-b-30">
				<h2 class="title bold-5 f-1" data-ckav-sm="medium" data-animate-in="fadeInUp">Passionate people on our team</h2>
				<p class="title-sub" data-ckav-sm="small" data-animate-in="fadeInUp|0.1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, dicta. Veritatis tempora at illum illo ullam earum sequi quibusdam</p>
			</div>

			<div class="row gt20 mb20">

				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="hover-box1">
						<div class="overlay flex-bc typo-light align-c">
							<div class="content mr-tb-20 z2 w75">
								<h3 class="title tiny mr-0 bold-n txt-upper f-1">Jessica Doe</h3>
								<p><em class="fs12 op-08">CEO</em></p>
								<hr class="light">
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-facebook-f"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-twitter"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-google-plus"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-instagram"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<img src="assets/images/person-01.jpg" alt="image">
					</div>
				</div>

				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="hover-box1">
						<div class="overlay flex-bc typo-light align-c">
							<div class="content mr-tb-20 z2 w75">
								<h3 class="title tiny mr-0 bold-n txt-upper f-1">Alma Gomez</h3>
								<p><em class="fs12 op-08">Marketing</em></p>
								<hr class="light">
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-facebook-f"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-twitter"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-google-plus"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-instagram"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<img src="assets/images/person-02.jpg" alt="image">
					</div>
				</div>

				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="hover-box1">
						<div class="overlay flex-bc typo-light align-c">
							<div class="content mr-tb-20 z2 w75">
								<h3 class="title tiny mr-0 bold-n txt-upper f-1">Peggy Washington</h3>
								<p><em class="fs12 op-08">Developer</em></p>
								<hr class="light">
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-facebook-f"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-twitter"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-google-plus"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-instagram"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<img src="assets/images/person-03.jpg" alt="image">
					</div>
				</div>

				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="hover-box1">
						<div class="overlay flex-bc typo-light align-c">
							<div class="content mr-tb-20 z2 w75">
								<h3 class="title tiny mr-0 bold-n txt-upper f-1">John Turner</h3>
								<p><em class="fs12 op-08">Design</em></p>
								<hr class="light">
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-facebook-f"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-twitter"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-google-plus"></i></a>
								<a href="#" target="_blank" class="iconbox sq30 fs18"><i class="fab fa-instagram"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<img src="assets/images/person-04.jpg" alt="image">
					</div>
				</div>

			</div>
			<!-- ======= END : =======  -->

			<hr class="mr-tb-60">

			<!--=================================
			= SKILLS
			==================================-->
			<div class="row gt40 mb20">
				<div class="col-md-6" data-ckav-sm="align-c" data-animate-in="fadeInLeft|0.1">
					<h2 class="title bold-5 f-1" data-ckav-sm="medium">Our skills</h2>
					<p class="title-sub" data-ckav-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos expedita in dignissimos.</p>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="col-md-5 offset-md-1" data-animate-in="fadeInRight|0.2">
					<h3 class="fs16 mr-b-10 bold-n f-1">Wordpress</h3>
					<div class="progress bg-dark">
						<div class="progress-bar bg-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							<b class="percentage">60% <i class="fa fa-caret-down"></i></b>	
						</div>
					</div>

					<h3 class="fs16 mr-b-10 bold-n f-1">HTML 5</h3>
					<div class="progress bg-dark">
						<div class="progress-bar bg-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
							<b class="percentage">80% <i class="fa fa-caret-down"></i></b>	
						</div>
					</div>

					<h3 class="fs16 mr-b-10 bold-n f-1">CSS 3</h3>
					<div class="progress bg-dark">
						<div class="progress-bar bg-default" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
							<b class="percentage">75% <i class="fa fa-caret-down"></i></b>
						</div>
					</div>

					<h3 class="fs16 mr-b-10 bold-n f-1">jQuery</h3>
					<div class="progress bg-dark">
						<div class="progress-bar bg-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							<b class="percentage">60% <i class="fa fa-caret-down"></i></b>
						</div>
					</div>

					<h3 class="fs16 mr-b-10 bold-n f-1">AngularJS</h3>
					<div class="progress bg-dark">
						<div class="progress-bar bg-default" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
							<b class="percentage">70% <i class="fa fa-caret-down"></i></b>
						</div>
					</div>
				</div>
			</div>
			<!-- ======= END : =======  -->			

		</div>
	</section>
	<!-- ************** END : PAGE CONTENT 02 **************  -->

	<!--
	************************************************************
	* TESTIMONIALS SECTION 02
	************************************************************ -->
	<section id="testimonials" class="pos-rel pd-tb-medium" data-ckav-sm="pd-tb-small align-c">
		<div class="container align-c">
			
			<!--=================================
			= TEXT
			==================================-->
			<div class="w75 mr-auto align-c">
				<h2 class="title bold-5 f-1" data-ckav-sm="medium" data-animate-in="fadeInUp">You're in good company</h2>
				<p class="title-sub f-2" data-ckav-sm="small" data-animate-in="fadeInUp|0.1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem excepturi accusamus similique sunt maxime ipsa, debitis.</p>	
			</div>
			<!-- ======= END : TEXT =======  -->

			<!--=================================
			= BRANDS
			==================================-->
			<div class="mr-b-60" data-ckav-sm="mr-b-30" data-animate-in="fadeInUp|0.3">
				<ul class="inline-list gt-small size-small reset op-05">
					<li><img src="assets/images/brand-logo1.png" alt="brand"></li>
					<li><img src="assets/images/brand-logo2.png" alt="brand"></li>
					<li><img src="assets/images/brand-logo3.png" alt="brand"></li>
					<li><img src="assets/images/brand-logo4.png" alt="brand"></li>
					<li><img src="assets/images/brand-logo5.png" alt="brand"></li>
					<li><img src="assets/images/brand-logo6.png" alt="brand"></li>
				</ul>
			</div>
			<!-- ======= END : BRANDS =======  -->

			<!--=================================
			= TESTIMONIALS TEXT
			==================================-->
			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="pd-30 bg-white mr-b-20 rd-10 shadow-mini align-l" data-ckav-sm="pd-20">
						<p class="f-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>
					</div>
					<div class="info-obj img-l g10 mini mid align-l mr-lr-10">
						<div class="img"><img src="assets/images/person-01.jpg" class="rd" alt="Person-0"></div>
						<div class="info">
							<h3 class="bold-5 fs16 mr-0 f-1">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div>
				</div>

				<div class="col-md-4" data-animate-in="fadeInUp|0.4">
					<div class="pd-30 bg-white mr-b-20 rd-10 shadow-mini align-l" data-ckav-sm="pd-20">
						<p class="f-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla similique optio exercitationem rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>
					</div>
					<div class="info-obj img-l g10 mini mid align-l mr-lr-10">
						<div class="img"><img src="assets/images/person-02.jpg" class="rd" alt="Person-0"></div>
						<div class="info">
							<h3 class="bold-5 fs16 mr-0 f-1">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div>
				</div>

				<div class="col-md-4" data-animate-in="fadeInUp|0.5">
					<div class="pd-30 bg-white mr-b-20 rd-10 shadow-mini align-l" data-ckav-sm="pd-20">
						<p class="f-2">Consectetur adipisicing elit. Nulla similique optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>
					</div>
					<div class="info-obj img-l g10 mini mid align-l mr-lr-10">
						<div class="img"><img src="assets/images/person-03.jpg" class="rd" alt="Person-0"></div>
						<div class="info">
							<h3 class="bold-5 fs16 mr-0 f-1">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div>
				</div>

			</div>
			<!-- ======= END : TESTIMONIALS TEXT =======  -->

		</div>

		<!--=================================
		= BACKGROUND HOLDER
		==================================-->
		<div class="bg-holder full-wh z1">
			
			<!-- OVERLAY -->
			<b data-bgholder="overlay" class="full-wh z3" data-gradient="y" data-g-colors="rgba(0, 0, 0, 0)|rgba(0, 0, 0, 0.06)"></b>
			
			<!-- PARALLAX IMAGE -->
			<div class="jarallax full-wh bg-cover bg-cc z2" data-jparallax="n" data-speed="0.2"></div>
			
			<!-- BACKGROUND IMAGE -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		<!-- ======= END : BACKGROUND HOLDER =======  -->
	</section>
	<!-- ************** END : TESTIMONIALS SECTION 02 **************  -->